@font-face {
    font-family: 'UniversCondensedMedium';
    src: url("../fonts/Univers-Condensed-Medium.eot");
    src: url("Univers-Condensed-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Univers-Condensed-Medium.woff") format("woff"), url("../fonts/Univers-Condensed-Medium.ttf") format("truetype"), url("../fonts/Univers-Condensed-Medium.svg#Univers-Condensed-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url("../fonts/HelveticaNeueRegular.eot");
    src: url("HelveticaNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueRegular.woff") format("woff"), url("../fonts/HelveticaNeueRegular.ttf") format("truetype"), url("../fonts/HelveticaNeueRegular.svg#HelveticaNeueRegular") format("svg");
    font-weight: 100;
    font-style: normal;
}

body {
    font-family: "UniversCondensedMedium", "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

    body > div > header > nav > a {
        background-color: black;
    }

    body > div > header > a > span.logo-lg {
        background-color: black;
    }

    body > div > header > a {
        background-color: black;
    }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "UniversCondensedMedium", "HelveticaNeue", Helvetica, Arial, sans-serif;
}

.skin-blue .main-header .navbar {
    margin-left: 203px;
    background-color: black;
}

    .skin-blue .main-header .navbar .sidebar-toggle:hover {
        background-color: transparent;
    }

.skin-blue .main-header .logo {
    width: 203px;
    background-color: black;
}

    .skin-blue .main-header .logo .logo-lg img {
        width: 173px;
        height: 39px;
    }

    .skin-blue .main-header .logo .logo-mini img {
        width: 55px;
        height: 55px;
    }

    .skin-blue .main-header .logo:hover {
        background-color: black;
    }

.skin-blue .main-header .sidebar-toggle {
    padding: 9px 9px;
    font-size: 23px;
}

.skin-blue .side-menu .treeview-menu > li > a {
    margin-left: 20px;
}

.skin-blue .sidebar-menu .treeview-menu > li > a {
    color: #e9e9e9;
}

.skin-blue .sidebar-menu > li > a:hover {
    color: #ffffff;
    background-color: #1e282c;
    border-left-color: #ffcc11;
    -webkit-transition: all ease-out 0.4s;
    -moz-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
}

.skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li.menu-open > a {
    color: #ffffff;
    border-left-color: #ffcc11;
}

.skin-blue .sidebar a {
    color: #e9e9e9;
}

.treeview-menu > li > a > .fa, .treeview-menu > li > a > .glyphicon, .treeview-menu > li > a > .ion {
    display: none;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    background-color: #ffcc11;
    height: 46px;
    padding: 1px;
    text-align: center;
}

.navbar-nav > .user-menu .user-image {
    margin-right: 0;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 12px;
    width: 210px !important;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-body {
    padding: 5px;
}

.main-sidebar {
    font-family: "UniversCondensedMedium", "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: normal;
    width: 203px;
}

.content-wrapper {
    background-color: #f1f1f1;
    min-height: 550px;
}

.content-wrapper, .main-footer {
    margin-left: 203px;
}

.dropdown-menu .user-body:hover {
    -webkit-transition: all ease-out 0.4s;
    -moz-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
    background-color: #fdffbc;
    cursor: pointer;
}

.dropdown-menu a:hover {
    background-color: transparent !important;
    text-decoration: none;
}

@media (max-width: 767px) {
    .skin-blue .main-header .logo, .skin-blue .main-header .navbar {
        margin-left: 0 !important;
        width: 100% !important;
        float: none !important;
    }

    .main-sidebar {
        width: 230px !important;
    }

    .content-wrapper, .main-footer {
        margin-left: 0 !important;
    }
}

@media (max-width: 991px) {
    .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
        right: 0;
    }

    .navbar-nav > .user-menu > .dropdown-menu > .user-body a {
        background-color: transparent !important;
    }
}

.form-control {
    height: 34px !important;
    padding: 6px 12px !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn {
    padding: 3px 12px !important;
}

.btn-warning {
    background-color: #ffcc11 !important;
    border-color: #ecb002 !important;
}

    .btn-warning:hover, .btn-warning:active {
        background-color: #fbbc05 !important;
        border-color: #ecb002 !important;
    }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #ffcc11 !important;
    border-color: #ffcc11 !important;
}

.input-group-btn > button.btn {
    height: 34px !important;
}

div.dropdown-menu > div.modal-footer {
    padding: 8px !important;
}

.table-responsive table {
    table-layout: fixed;
}

.filter-btn-container {
    text-align: center !important;
    vertical-align: middle !important;
    padding-top: 47px !important;
    padding-left: 0 !important;
}

    .filter-btn-container button {
        height: 65px !important;
    }

.tree-container li ul li ul li {
    margin-left: 30px !important;
}

/*
    MODED BY FADHLY PERMATA

*/
.main-header {
    border-bottom: 8px solid #ffcc11;
}

.navbar-custom-menu > .navbar-nav > li {
    margin: 0 2px;
}

    .navbar-custom-menu > .navbar-nav > li > .btn {
        height: 30px;
        width: 30px;
        top: 10px;
    }

    .navbar-custom-menu > .navbar-nav > li > .btn:not(.sidebar-toggle) {
        padding-left: 9px !important;
    }

    .navbar-custom-menu > .navbar-nav > li > .btn.sidebar-toggle {
        padding-left: 5px !important;
    }

.main-header .navbar-custom-menu, .main-header .navbar-right {
    padding-right: 6px;
}

.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li.menu-open > a {
    border-radius: 5px;
}

.skin-blue .sidebar-menu > li > a:hover {
    border-radius: 5px;
}

.sidebar {
    padding: 25px 0 10px 0;
}
    /*# sourceMappingURL=lte-custom.css.map */
