@using Web.Utilities @{ ViewBag.Title = "Home"; Layout = "~/Views/Shared/Layout/_Layout.cshtml"; } @section PageStyles {}
@section PageScripts {}

<div class="row">
    <div class="col-md-12">
        <div class="box box-warning">
            <form class="form-horizontal">
                <div class="box-header">
                    <i class="fa fa-home fa-fw"></i>
                    <h3 class="box-title">Home</h3>

                    <div class="box-tools pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="maximize">
                            <i class="fa fa-window-maximize"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body">
                    <div class="col-md-12 text-center" style="padding: 180px 0;">
                        <h3>Welcome to</h3>
                        <h1>@AppSettings.GetSettings().applicationName</h1>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>